@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu Mono', monospace;
  background-color: #ececec;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: blue;
  text-decoration: none; /* no underline */
}

.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}

:root {
  --navbar-regular-color: #424242;
  --navbar-hover-color: #212121;
  --navbar-hover-weight: bold;
  --navbar-active-color: #212121;
  --navbar-active-weight: bold;

  --navbar-font-size: 14px;
  --navbar-line-height: 20px;

  --regular-color: #424242;
  --regular-font-size: 16px;
  --regular-line-height: 21px;

  --caption-color: #757575;
  --caption-font-size: 14px;
  --caption-line-height: 18px;

  --footer-regular-color: #424242;
  --footer-regular-font-size: 16px;
  --footer-regular-line-height: 21px;

  --footer-link-color: #757575;
  --footer-link-font-size: 13px;
  --footer-link-line-height: 19px;
}
